[user]
	email = evan@tempoautomation.com
	name = Evan Thomas

[diff]
	tool = nvimdiff

[merge]
	tool = nvimdiff


[mergetool "nvimdiff"]
        cmd = nvim -d $REMOTE $BASE $LOCAL $MERGED -c '$wincmd w' -c 'wincmd J'

[difftool "nvimdiff"]
        cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""


[diff "ansible-vault"]
    textconv = ansible-vault view
    cachetextconv = true

[core]
	editor = nvim
[alias]
        ch = checkout
        cho = checkout
        chout = checkout
        check = checkout

        c = commit
        co = commit
        com = commit

        b = branch
        br = branch
        bra = branch

        f = fetch
        fe = fetch

        p = push
        pu = push

        dt = difftool
        dtool = difftool
        difft = difftool
        dit = difftool

        d = diff

        mt = mergetool

        cp = cherry-pick

        r = rebase
        rb = rebase
        reb = rebase

        a = add
        ad = add

        rs = reset
        res = reset
